env:

server:
    grpc:
        host:
        port:
    http:
        host:
        port:
    tls:
        enable:
        cert_file:
        key_file:

database:
    postgres:
        host:
        port:
        user:
        password:
        db_name:
        ssl_mode:
        max_idle_conns:
        max_open_conns:

cache:
    host: ""
    port: "6379"
    user: ""
    password: ""
    db: 0

jwt:
    secret:

oauth:
    client_id:
    client_secret:
    redirect_url:
